<ul class="nav justify-content-center fixed-bottom bg-primary">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="SearchRide.html">
        <img src="/img/Search_Icon.jpg" alt="Search Icon" height="40" width="40">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="BookRide.html">
        <img src="/img/BookRideIcon.jpg" alt="Book A Ride Icon" height="40" width="40">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
        <img src="/img/Notif_Icon.jpg" alt="Notification Icon" height="40" width="40">
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
        <img src="/img/UserProfileIcon.jpg" alt="User Profile Icon" height="40" width="40">
    </a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">
        <img src="/img/SettingIcon.jpg" alt="Setting Icon" height="40" width="40">
    </a>
  </li>
</ul>
