{% extends "partials/NavbarLayout.jinja" %}
{% block title %}Booking History Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">Booking History</h1>
        </div>
    </div>
    <div class="align-middle fw-semibold my-5">
        <table class="table text-center text-primary">
            <thead>
            <tr>
                <th scope="col">Driver</th>
                <th scope="col">Date</th>
                <th scope="col">Given Rating</th>
            </tr>
            </thead>
            <tbody>
            {% for taxiHist in TaxiHists %}
                <tr>
                    <td><a href="DriverInfo.html" class="text-decoration-none">{{taxiHist.driver}}</a></td>
                    <td>{{ taxiHist.date }}</td>
                    <td>{{ taxiHist.given_rating }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}