{% extends "partials/NavbarLayout.jinja" %}
{% block title %}Booking History Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">Booking History</h1>
        </div>
    </div>

{% endblock %}