{% extends "partials/NavbarLayout.jinja" %}
{% block title %}Book Ride Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">Book a Ride</h1>
        </div>
    </div>

    <div class="container fw-semibold bg-white">
        <a href="DriverInfo.html" class="text-decoration-none">Driver</a>
        Driver Name
        Choice
        <hr>
        <a href="#" class="text-decoration-none">Collection Point</a>
        <li class="nav-item dropdown justify-content-end">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
               aria-expanded="false">Nearest</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Nearest</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="Location.html">Select</a></li>
            </ul>
        </li>
        <hr>
        <a href="#" class="text-decoration-none">Destinations</a>
        <li class="nav-item dropdown justify-content-end">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
               aria-expanded="false">Current Location</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Current Location</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="Location.html">Enter Location</a></li>
            </ul>
        </li>
        <hr>
        <div class="">
            <a href="BirthCalendar.html.jinja" class="text-decoration-none">Time for Collection</a>
        </div>
        <a href="#" class="text-decoration-none">Ride-Share</a>
        <li class="nav-item dropdown justify-content-end">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
               aria-expanded="false">Anyone</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Anyone</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="RideShare.html">Choose Partner</a></li>
            </ul>
        </li>
        <hr>
        <a href="#" class="text-decoration-none">Estimated Cost

        </a>
        <hr>
        {% include "partials/ConfirmBtn.jinja" %}
    </div>
{% endblock %}