{% extends "partials/base.jinja" %}
{% block title %}Create Account Page{% endblock %}
<!-- Page header -->
{% block PageTitle %}Create Account{% endblock %}

{% block content %}

<div class="container fw-semibold bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="">
                    <div class="mb-3">
                        <label for="InputUsername" class="form-label text-primary">Username</label>
                        <input type="text" class="form-label" id="InputUsername" placeholder="Enter your Username" required>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="InputPassword" class="form-label text-primary">Password</label>
                        <input type="text" class="form-label" id="InputPassword" placeholder="Enter your Password" required>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="InputEmail" class="form-label text-primary">Email</label>
                        <input type="email" class="form-label" id="InputEmail" placeholder="Enter your Email" required>
                    </div>
                    <hr>
                    <a href="BirthCalendar.html" class="text-decoration-none">Date Of Birth</a>
                    <hr>
                    <a href="#" class="text-decoration-none">Payment Method</a>
                    <hr>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}