{% extends "partials/NavbarLayout.jinja" %}
{% block title %}Driver Info Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container py-2">
            <h1 class=" fw-semibold display-4">Driver Name</h1>
        </div>
        <div class="container">
            <table class="table table-borderless text-primary">
                <thead>
                <tr>
                    <th scope="col">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
                             class="bi bi-circle"
                             viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        </svg>
                    </th>
                    <th scope="col">
                        <a href="ViewMap.html" class="text-decoration-none">View Map</a>
                        <hr>
                        <a href="BookRide.html" class="text-decoration-none">Book a Ride</a>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="container fw-semibold">
        <div class="text-primary">
            Car
        </div>
        Manufacturer and Models
        <hr>
        <div class="text-primary">
            Rides Completed
        </div>
        Numbers
        <hr>
        <div class="text-primary">
            Average Score
        </div>
        Total Score/Rides Completed
        <div class="text-primary">
            Reviews
        </div>
        <div class="text-primary">
            Username
        </div>
        Score
        Comment
        <hr>
    </div>


{% endblock %}