{% extends "partials/NavbarLayout.jinja" %}
{% block title %}End Ride Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">End of Ride</h1>
        </div>
    </div>
    <div class="container fw-semibold">
        <p class="text-primary">Rate Driver
            <img src="" class="img-fluid mx-5" alt="rating">
        </p>
        <hr>
        <a href="Review.html" class="text-decoration-none">Leave a Review</a>
        <hr>
        <table class="table">
            <tbody>
            <tr>
                <td class="text-primary">Time Taken</td>
                <td>Time</td>
            </tr>
            <tr>
                <td class="text-primary">Cost</td>
                <td>Cost</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container text-center text-primary fw-semibold">
        <p>Payment Options</p>
        <table class="table">
        <tbody>
        <tr>
            <td><img src="" class="img-fluid mx-5" alt="Method option"></td>
            <td><img src="" class="img-fluid mx-5" alt="Showing point"></td>
        </tr>
        <tr>
            <td class="text-primary">Chosen Methods</td>
            <td class="text-primary">Point</td>
        </tr>
        </tbody>
    </table>
    </div>

{% endblock %}