{% extends "partials/NavbarLayout.jinja" %}
{% block title %}FAQ Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">FAQ</h1>
        </div>
    </div>
    <div class="container fw-semibold py-5">
        <p class="text-primary">Q: Question</p>
        <hr>
        <p>A: Answer</p>
        <hr>
        <p class="text-primary">Q: Question</p>
        <hr>
        <p>A: Answer</p>
        <hr>
    </div>
{% endblock %}