{% extends "partials/base.jinja" %}
{% block title %}Taxi Booking App{% endblock %}
<!-- Jumbotron header -->
{% block PageTitle %}Taxi Booking App{% endblock %}

{% block content %}
    <div class="jumbotron text-center bg-white">
        <div class="container">
            <h1 class=" fw-semibold display-4">Welcome</h1>
            <h1 class=" fw-semibold display-4">Username</h1>
        </div>
    </div>

    <div class="container fw-semibold bg-white">
        <a href="#" class="text-decoration-none">Search</a>
        <hr>
        <a href="#" class="text-decoration-none">Book a Ride</a>
        <hr>
        <a href="#" class="text-decoration-none">Notifications</a>
        <hr>
        <a href="#" class="text-decoration-none">User Profile</a>
        <a href="#" class="text-decoration-none">Setting</a>
        <hr>
        <div class="text-center">
            <a href="SpecificScreen.html" class="btn btn-secondary btn-lg text-body-secondary">Looking for a specific page?</a>
        </div>
    </div>



{% endblock %}