{% extends "partials/base.jinja" %}
{% block title %}Taxi Booking App{% endblock %}
<!-- Jumbotron header -->
{% block PageTitle %}Taxi Booking App{% endblock %}

{% block content %}


<div class="container fw-semibold bg-white">
    <a href="CreateAccount.html" class="text-decoration-none">Create Account</a>
    <hr>
    <a href="SignInAccount.html" class="text-decoration-none">Sign In</a>
    <hr>
    <a href="SignInAccount.html" class="text-decoration-none">Sign In with Google</a>
    <hr>
    <a href="WelcomeUser.html" class="text-decoration-none">Use Guest Account</a>
</div>

<div class="container bg-white py-5">
    Description of Guest
</div>

{% endblock %}
