{% extends "partials/ScreenLayout.jinja" %}
{% block title %}Taxi Booking App Page{% endblock %}
<!-- Jumbotron header -->

{% block content %}

<div class="jumbotron text-center bg-white py-5">
    <div class="container">
        <h1 class=" fw-semibold display-4">{% block PageTitle %}Taxi Booking App{% endblock %}</h1>
    </div>
</div>

{% endblock %}
{% block LinkPage %}"CreateAccount.html"{% endblock %} {% block PageName %}Create Account{% endblock %}
{% block LinkPage1 %}"SignInAccount.html"{% endblock %} {% block PageName1 %}Sign In{% endblock %}
{% block PageName2 %}Sign In with Google <img src="/img/google_icon.jpg" alt="google icon" height="25" width="25">{% endblock %}
{% block LinkPage3 %}"HomeScreen.html"{% endblock %} {% block PageName3 %}Use Guest Account{% endblock %}

{% block content1 %}
    <div class="container bg-white py-5">
        Description of Guest
    </div>
{% endblock %}