{% extends "partials/NavbarLayout.jinja" %}
{% block title %}Manage Account Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">Manage Account</h1>
        </div>
    </div>
    <<div class="container fw-semibold bg-white position-absolute top-50 start-50 translate-middle">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="">
                        <div class="mb-3">
                            <label for="InputNewUsername" class="form-label text-primary">Change Username</label>
                            <input type="text" class="form-label" id="InputNewUsername" placeholder="Enter your New Username"
                                   required>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="InputNewPassword" class="form-label text-primary">Change Password</label>
                            <input type="password" class="form-label" id="InputNewPassword"
                                   placeholder="Enter your New Password" required>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="InputNewEmail" class="form-label text-primary">Change Email</label>
                            <input type="email" class="form-label" id="InputNewEmail" placeholder="Enter your New Email"
                                   required>
                        </div>
                        <hr>
                        <a href="#" class="text-decoration-none">Add/Change Payment Method</a>
                        <div class="text-center my-3">
                            {% include "partials/ConfirmBtn.jinja" %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}