{% extends "partials/NavbarLayout.jinja" %}
{% block title %}Notifications: Distance Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">Notifications: Distance</h1>
        </div>
    </div>
    <div class="container fw-semibold">
        <p>Every:</p>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
            <label class="form-check-label" for="reverseCheck1">
                Reverse checkbox
            </label>
        </div>
    </div>
{% endblock %}