{% extends "partials/NavbarLayout.jinja" %}
{% block title %}Notifications: Time Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">Notifications: Time</h1>
        </div>
    </div>
    <div class="container fw-semibold">
        <p class="text-primary">Every:</p>
        <div class="form-check form-check-reverse text-primary">
            <input class="form-check-input" type="checkbox" value="" id="1Min">
            <label class="form-check-label" for="1Min">1 Minute</label>
        </div>
        <hr>
        <div class="form-check form-check-reverse text-primary">
            <input class="form-check-input" type="checkbox" value="" id="2Min">
            <label class="form-check-label" for="2Min">2 Minutes</label>
        </div>
        <hr>
        <div class="form-check form-check-reverse text-primary">
            <input class="form-check-input" type="checkbox" value="" id="3Min">
            <label class="form-check-label" for="3Min">3 Miles</label>
        </div>
        <hr>
    </div>
{% endblock %}