{% extends "partials/NavbarLayout.jinja" %}
{% block title %}Review Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">Leave a Review</h1>
        </div>
    </div>
    <div class="input-group">
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
{% endblock %}