{% extends "partials/NavbarLayout.jinja" %}
{% block title %}Setting Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">Settings</h1>
        </div>
    </div>

    {% include "partials/SpecPageLink.jinja" %}

    <div class=" container fw-semibold py-4">
        <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input" type="checkbox" id="NightMode">
            <label class="form-check-label text-primary" for="NightMode">Night Mode</label>
        </div>
        <hr>
        <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input" type="checkbox" id="TextSpeech">
            <label class="form-check-label text-primary" for="TextSpeech">Text-to-Speech</label>
        </div>
        <hr>
        <div class="py-3">
        <a href="UIColours.html" class="text-decoration-none">Change UI Colours</a>
        <hr>
        <a href="FAQ.html" class="text-decoration-none">FAQ</a>
        <hr>
        <a href="#" class="text-decoration-none">Customer Support</a>
        <hr>
        <a href="FeedbackDev.html" class="text-decoration-none">Feedback to Developers</a>
        </div>
    </div>

{% endblock %}