{% extends "partials/base.jinja" %}
{% block title %}Sign In Account Page{% endblock %}
<!-- Page header -->
{% block PageTitle %}Sign In{% endblock %}

{% block content %}

<div class="container fw-semibold bg-white">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="HomeScreen.html">
                    <div class="mb-3">
                        <label for="InputUsername" class="form-label text-primary">Username</label>
                        <input type="text" class="form-label" id="InputUsername" placeholder="Enter your Username" required>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="InputPassword" class="form-label text-primary">Password</label>
                        <input type="text" class="form-label" id="InputPassword" placeholder="Enter your Password" required>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a href="HomeScreen.html" class="btn btn-primary btn-lg">Sign In</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}