{% extends "partials/base.jinja" %}
{% block title %}Specific Screen Page{% endblock %}

{% block content %}
    <div class="text-center style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;">
        <a href="#" class="btn btn-secondary btn-lg text-dark"></a>
    </div>
{% endblock %}