{% extends "partials/NavbarLayout.jinja" %}
{% block title %}UI Colours Selection Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
    <div class="jumbotron text-center bg-white py-3">
        <div class="container">
            <h1 class=" fw-semibold display-4">UI Colours</h1>
        </div>
    </div>
    <div class="container fw-semibold">
        <p class="text-primary">Select from Either</p>
        <div class="container">
            <p>Colour Chart</p>
            <img alt="Colour Chart" src="">
            <p class="my-5">Colour Wheel</p>
            <img alt="Colour Wheel" src="">
        </div>
    </div>
{% endblock %}