{% extends "partials/NavbarLayout.jinja" %}
{% block title %}User Profile Page{% endblock %}

{% block content %}

    <!-- Jumbotron header -->
<div class="jumbotron text-center bg-white py-3">
    <div class="container">
        <h3 class=" fw-semibold display-4">User Profile: </h3>
        <h3 class=" fw-semibold display-4">{{ Username }}</h3>
    </div>
</div>
<div class="container fw-semibold bg-white py-3">
    <a href="ManageAccount.html" class="text-decoration-none">Manage Account</a>
    <hr>
    <a href="BookHistory.html" class="text-decoration-none">View Booking History</a>
    <hr>
<a href="#" class="text-decoration-none">More Settings</a>
    <hr>
<a href="#" class="text-decoration-none">Reviews</a>
    <hr>
</div>

{% endblock %}